/* Utility Class */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page-container {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

nav, header, main, footer {
  min-width: 1200px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.no-bullet-list {
  list-style-type: none;
}

.selector-type-1 {
  border: none;
  background: transparent;
  font-size: 16px;
}

.selector-type-2 {
  border: none;
  background: transparent;
  font-size: 16px;
  padding-right: 15px;
}

.button-type-1 {
  background: white;
  width: 70px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  color: #FF7A59;
  text-align: center;
  display: inline-block;
}

.button-type-2 {
  background: #FF7A59;
  width: 135px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: inline-block;
}

/* end Utility Class*/

/* Styling */
.website-nav {
  background-color: #F5F8FA;
  border-bottom: 1px solid black;
  height: 100px;
  line-height: 100px;
}

.website-nav ul li {
  display: inline-block;
}

.website-nav .globe-img img, .website-nav .search-img img {
  height: 20px;
  width: 20px;
  vertical-align: -2px;
}

.website-nav .website-nav-left ul li:nth-child(2)::after {
  content: '';
  display: inherit;
  height: 23px;
  border-right: 1px solid black;
  margin: -5px 25px;
}

.website-nav-right ul li {
  padding-right: 20px;
}

.home-nav {
  height: 100px;
  line-height: 100px;
}

.home-nav-right ul li {
  display: inline-block;
  padding-right: 20px;
}



/* end Styling */
