/* Utility Class */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}

.page-container {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

nav, header, main, footer {
  min-width: 1200px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.no-bullet-list {
  list-style-type: none;
}

.selector-type-1 {
  border: none;
  background: transparent;
  font-size: 16px;
  color: inherit;
  font-weight: inherit;
}

.selector-type-2 {
  border: none;
  background: transparent;
  font-size: 16px;
  padding-right: 15px;
  color: inherit;
  font-weight: inherit;
}

.button-type-1 {
  background: white;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  color: #FF7A59;
  text-align: center;
}

.button-type-2 {
  background: #FF7A59;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.learn-more-button {
  width: 180px;
  height: 70px;
  line-height: 70px;
}

.centered-text {
  text-align: center;
}

.white-text {
  color: white;
}

.h2-style {
  margin-bottom: 30px;
  font-size: 35px;
}

.h3-style {
  font-size: 25px;
  margin-bottom: 30px;
}

.h4-style {
  font-size: 20px;
  margin-bottom: 30px;
}

.p-style {
  line-height: 30px;
  margin-bottom: 30px;
}

.description-block {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #94A0B3, 0px 0px 2px #94A0B3 inset;
}
/* end Utility Class */

/* Styling */
.website-nav {
  background-color: #F5F8FA;
  border-bottom: 1px solid black;
  height: 100px;
  line-height: 100px;
}

.website-nav ul li {
  display: inline-block;
}

.website-nav .globe-img img, .website-nav .search-img img {
  height: 20px;
  width: 20px;
  vertical-align: -2px;
}

.website-nav .website-nav-left ul li:nth-child(2)::after {
  content: '';
  display: inherit;
  height: 23px;
  border-right: 1px solid #33475B;
  margin: -5px 25px;
}

.website-nav-right ul li {
  padding-right: 20px;
}

.website-nav .website-nav-right .login-button {
  width: 70px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
}

.website-nav .website-nav-right .gethubspotfree-button {
  width: 140px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
}

header > .home-nav {
  height: 100px;
  line-height: 100px;
}

header > .home-nav .home-nav-right ul li {
  display: inline-block;
  padding-right: 20px;
}

header > .jumbotron-container {
  background-color: #FFF2EE;
}

header > .jumbotron-container .jumbotron-background-container {
  height: 550px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right bottom -68px;
  background-size: contain;
}

header > .jumbotron-container .jumbotron-background-container .jumbotron {
  width: 500px;
}

h1 {
  font-size: 50px;
  padding-top: 70px;
}

header > .jumbotron-container .jumbotron-background-container .jumbotron .jumbotron-button {
  width: 190px;
  height: 65px;
  line-height: 65px;
  display: block;
}

h1, header > .jumbotron-container .jumbotron-background-container .jumbotron .jumbotron-button {
  margin-bottom: 35px;
}

header > .divider {
  height: 100px;
  background-color: #AFEBE4;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

main > .hubspot-presentation {
  background-color: #F5F8FA;
  padding-bottom: 50px;
}

main > .hubspot-presentation .main-presentation {
  width: 850px;
  margin: 0 auto;
}

main > .hubspot-presentation .main-presentation .main-presentation-content {
  padding-top: 40px;
}

main > .hubspot-presentation .wide-block {
  height: 350px;
  margin-top: 50px;
  margin-bottom: 40px;
}

main > .hubspot-presentation .wide-block .wide-block-left {
  width: 35%;
  height: 100%;
}

main > .hubspot-presentation .wide-block .wide-block-left-content {
  position: relative;
  top: 80px;
}

main > .hubspot-presentation .wide-block .learn-more-button {
  position: relative;
  left: 30%;
  margin-top: 20px;
}

main > .hubspot-presentation .wide-block .wide-block-right {
  width: 55%;
  position: relative;
  top: 65px;
}

main > .hubspot-presentation .wide-block .wide-block-right h4::after{
  content: '';
  display: inherit;
  width: 450px;
  border-bottom: 2px solid #33475B;
  margin: 0 auto;
  position: relative;
  bottom: 12.5px;
  left: 150px;
}

main > .hubspot-presentation .wide-block .wide-block-right ul li {
  display: inline-block;
  padding-right: 10px;
}

main > .hubspot-presentation .wide-column {
  height: 700px;
  width: calc(100% / 3 - (50px / 3 * 2));
}

main > .hubspot-presentation .wide-column:nth-child(-n+2) {
  margin-right: 50px;
}

main > .hubspot-presentation .wide-column .wide-column-content {
  width: 78%;
  padding: 20px 0;
  margin: 0 auto;
}

main > .hubspot-presentation .wide-column .wide-column-content img {
  margin-bottom: 15px;
}

main > .hubspot-presentation .wide-column .wide-column-content p::after {
  content: '';
  display: inherit;
  width: 100%;
  border-bottom: 2px solid #33475B;
  margin: 60px auto 40px;
}

main > .hubspot-presentation .wide-column .wide-column-content .checked-list {
  list-style-image: url("../img/check-orange.png");
  text-align: left;
}

main > .hubspot-presentation .wide-column .wide-column-content .checked-list li {
  margin-left: 30px;
}

main > .hubspot-presentation .wide-column .wide-column-content .learn-more-button {
  margin-top: 60px;
  display: inline-block;
}

main > .hubspot-community {
  background-color: #00ABB7;
  height: 850px;
  margin-bottom: 50px;
}

main > .hubspot-community .container > h2 {
  padding-top: 70px;
  width: 1100px;
  margin: 0 auto 40px;
}

main > .hubspot-community p {
  width: 1180px;
  margin: 0 auto 50px;
}

main > .hubspot-community .grid-container .grid-block {
  width: 25%;
}

main > .hubspot-community .grid-container .grid-block:nth-child(-n+4) {
  border-bottom: 1px solid white;
}

main > .hubspot-community .grid-container .grid-block:nth-child(n+0) {
  border-right: 1px solid white;
}

main > .hubspot-community .grid-container .grid-block:nth-child(4n+4) {
  border-right: none;
}

main > .hubspot-community .grid-container .grid-block img {
  padding-top: 25px;
}

main > .hubspot-community .grid-container .grid-block h2 {
  font-size: 40px;
  display: inline-block;
  padding: 20px 0;
}

main > .hubspot-community .grid-container .grid-block span {
  font-size: 27px;
  vertical-align: 4px;
  padding-left: 3px;
}

main > .hubspot-community .grid-container .grid-block-description {
  padding-bottom: 40px;
}

main > .hubspot-affiliate .customers-affiliate {
  margin: 0 auto 100px;
  width: 1050px;
}

main > .hubspot-affiliate .customers-affiliate .total-customers {
  width: 20%;
}

main > .hubspot-affiliate .customers-affiliate .affiliates {
  width: 60%;
}

main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo {
  width: 25%;
  height: 60px;
  line-height: 60px;
  padding: 10px;
  margin-bottom: 30px;
}

main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo:nth-child(-n+2), main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo:nth-child(6n+0) {
  height: 39px;
  line-height: 39px;
}

main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo img {
  width: 100%;
  height: 100%;
}

main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo:nth-child(7n+0) img {
  width: 80%;
}

main > .hubspot-affiliate .hubspot-grow-left {
  width: 40%;
}

main > .hubspot-affiliate .hubspot-grow-left .button-type-2 {
  width: 200px;
  height: 65px;
  line-height: 65px;
  margin-bottom: 40px;
}

main > .hubspot-affiliate .hubspot-grow-left span {
  font-size: 15px;
}

main > .hubspot-affiliate .hubspot-grow-right {
  width: 28.5%;
  height: 390px;
  position: relative;
  bottom: 70px;
}

main > .hubspot-affiliate .hubspot-grow-right img {
  width: 100%;
  height: 100%;
}
/* end Styling */
