/* Utility Class */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}

.page-container {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

nav, header, main, footer {
  min-width: 1200px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.no-bullet-list {
  list-style-type: none;
}

.no-decoration-link {
  text-decoration: none;
  color: inherit;
}

.inline-block {
  display: inline-block
}

.selector {
  border: none;
  background: transparent;
  font-size: 16px;
  color: inherit;
  font-weight: inherit;
}

.button-type-1 {
  background: white;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  color: #FF7A59;
  text-align: center;
}

.button-type-2 {
  background: #FF7A59;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.button-type-3 {
  background-color: rgba(255, 255, 255, 0.8);
  color: #2D3E50;
  text-align: center;
  border-radius: 5px;
}

.learn-more-button {
  width: 180px;
  height: 70px;
  line-height: 70px;
}

.centered-text {
  text-align: center;
}

.white-text {
  color: white;
}

.h2-style {
  margin-bottom: 30px;
  font-size: 35px;
}

.h3-style {
  font-size: 25px;
  margin-bottom: 30px;
}

.h4-style {
  font-size: 20px;
  margin-bottom: 30px;
}

.p-style {
  line-height: 30px;
  margin-bottom: 30px;
}

.description-block {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #94A0B3, 0px 0px 2px #94A0B3 inset;
}
/* end Utility Class */

/* Styling */
.website-nav {
  background-color: #F5F8FA;
  border-bottom: 1px solid black;
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.website-nav .fa.fa-globe {
  font-size: 18px;
}

.website-nav-right ul li {
  padding-right: 20px;
}

.website-nav .website-nav-left ul li:first-child::after {
  content: '';
  display: inherit;
  height: 23px;
  border-right: 1px solid #33475B;
  margin: -5px 25px;
}

.website-nav-right .fa.fa-search {
  color: #00ABB7;
  font-size: 18px;
}

/* Per prova */
.website-nav-right .searchbar {
  display: none;
}

.website-nav-right .fa.fa-search:hover + .searchbar {
  display: inline;
  pointer-events: none;
}
/* end Per prova */

.website-nav .website-nav-right .login-button {
  width: 70px;
  height: 45px;
  line-height: 45px;
}

.website-nav .website-nav-right .gethubspotfree-button {
  width: 140px;
  height: 45px;
  line-height: 45px;
}

header > .home-nav {
  height: 100px;
  line-height: 100px;
  margin-top: 100px;
}

header > .home-nav .hubspot-logo {
  position: relative;
  top: 5px;
}

header > .home-nav .home-nav-right ul li {
  padding-right: 20px;
}

header > .home-nav .home-nav-right ul li .fa.fa-chevron-down {
  padding-left: 15px;
}

header > .jumbotron-container {
  background-color: #FFF2EE;
}

header > .jumbotron-container .jumbotron-background-container {
  height: 550px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right bottom -68px;
  background-size: contain;
}

header > .jumbotron-container .jumbotron-background-container .jumbotron {
  width: 500px;
}

h1 {
  font-size: 50px;
  padding-top: 70px;
}

header > .jumbotron-container .jumbotron-background-container .jumbotron .jumbotron-button {
  width: 190px;
  height: 65px;
  line-height: 65px;
  display: block;
}

h1, header > .jumbotron-container .jumbotron-background-container .jumbotron .jumbotron-button {
  margin-bottom: 35px;
}

header::after {
  content: '';
  height: 100px;
  width: 100%;
  position: absolute;
  background-color: #AFEBE4;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

main > .hubspot-presentation {
  background-color: #F5F8FA;
  padding-bottom: 50px;
}

main > .hubspot-presentation .main-presentation {
  width: 850px;
  margin: 0 auto;
}

main > .hubspot-presentation .main-presentation .main-presentation-content {
  padding-top: 150px;
}

main > .hubspot-presentation .wide-block {
  height: 350px;
  margin-top: 50px;
  margin-bottom: 40px;
}

main > .hubspot-presentation .wide-block .wide-block-left {
  width: 35%;
  height: 100%;
}

main > .hubspot-presentation .wide-block .wide-block-left-content {
  position: relative;
  top: 80px;
}

main > .hubspot-presentation .wide-block .learn-more-button {
  position: relative;
  left: 30%;
  margin-top: 20px;
  display: block;
}

main > .hubspot-presentation .wide-block .wide-block-right {
  width: 55%;
  position: relative;
  top: 65px;
}

main > .hubspot-presentation .wide-block .wide-block-right h4::after{
  content: '';
  display: inherit;
  width: 450px;
  border-bottom: 2px solid #33475B;
  margin: 0 auto;
  position: relative;
  bottom: 12.5px;
  left: 150px;
}

main > .hubspot-presentation .wide-block .wide-block-right ul li {
  padding-right: 10px;
}

main > .hubspot-presentation .wide-block .wide-block-right .fa.fa-check-circle {
  color: #FF7A59;
  padding-right: 10px;
  font-size: 18px;
}

main > .hubspot-presentation .wide-column {
  height: 700px;
  width: calc(100% / 3 - (50px / 3 * 2));
}

main > .hubspot-presentation .wide-column:nth-child(-n+2) {
  margin-right: 50px;
}

main > .hubspot-presentation .wide-column .wide-column-content {
  width: 78%;
  padding: 20px 0;
  margin: 0 auto;
}

main > .hubspot-presentation .wide-column .wide-column-content img {
  margin-bottom: 15px;
}

main > .hubspot-presentation .wide-column .wide-column-content p::after {
  content: '';
  display: inherit;
  width: 100%;
  border-bottom: 2px solid #33475B;
  margin: 60px auto 40px;
}

main > .hubspot-presentation .wide-column .wide-column-content .checked-list {
  list-style-image: url("../img/check-orange.png");
  text-align: left;
  padding-left: 25px;
}

main > .hubspot-presentation .wide-column .wide-column-content .learn-more-button {
  display: block;
  margin: 60px auto;
}

main > .hubspot-community {
  background: linear-gradient(45deg,#00a4bd,#00bda5);
  height: 850px;
  margin-bottom: 50px;
}

main > .hubspot-community .container > h2 {
  padding-top: 70px;
  width: 1100px;
  margin: 0 auto 40px;
}

main > .hubspot-community p {
  width: 1180px;
  margin: 0 auto 50px;
}

main > .hubspot-community .grid-row .grid-block {
  width: 25%;
}

main > .hubspot-community .grid-row .grid-block.right-bordered {
  border-right: 1px solid white;
}

main > .hubspot-community .grid-row .grid-block.top-right-bordered {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

main > .hubspot-community .grid-row .grid-block.top-bordered {
  border-top: 1px solid white;
}

main > .hubspot-community .grid-row .grid-block img {
  padding-top: 25px;
}

main > .hubspot-community .grid-row .grid-block h2 {
  font-size: 40px;
  padding: 20px 0;
}

main > .hubspot-community .grid-row .grid-block span {
  font-size: 27px;
  vertical-align: 4px;
  padding-left: 3px;
}

main > .hubspot-community .grid-row .grid-block-description {
  padding-bottom: 40px;
}

main > .hubspot-affiliate {
  margin-bottom: 50px;
}

main > .hubspot-affiliate .customers-affiliate {
  margin: 0 auto 100px;
  width: 1050px;
}

main > .hubspot-affiliate .customers-affiliate .total-customers {
  width: 20%;
}

main > .hubspot-affiliate .customers-affiliate .total-customers h2 {
  font-size: 50px;
}

main > .hubspot-affiliate .customers-affiliate .affiliates {
  width: 60%;
}

main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo {
  width: 25%;
  height: 60px;
  line-height: 60px;
  padding: 10px;
  margin-bottom: 30px;
}

main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo:nth-child(-n+2), main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo:nth-child(6n+0) {
  height: 39px;
  line-height: 39px;
}

main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo img {
  width: 100%;
  height: 100%;
}

main > .hubspot-affiliate .customers-affiliate .affiliates .affiliate-logo:nth-child(7n+0) img {
  width: 80%;
}

main > .hubspot-affiliate .hubspot-grow-left {
  width: 40%;
}

main > .hubspot-affiliate .hubspot-grow-left .button-type-2 {
  width: 200px;
  height: 65px;
  line-height: 65px;
  margin-bottom: 40px;
  display: block;
}

main > .hubspot-affiliate .hubspot-grow-left span {
  font-size: 15px;
}

main > .hubspot-affiliate .hubspot-grow-right {
  width: 28.5%;
  height: 390px;
  position: relative;
  bottom: 70px;
}

main > .hubspot-affiliate .hubspot-grow-right img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #2D3E50;
  height: 700px;
  color: #cbd6e2;
}

footer > .useful-links {
  padding: 50px 0;
}

footer > .useful-links .footer-column {
  width: calc(100% / 4 - (5px / 4 * 3));
}

footer > .useful-links .footer-column:nth-child(-n+3) {
  margin-right: 5px;
}

footer > .useful-links .footer-column h5 {
  font-size: 17px;
  margin-bottom: 30px;
}

footer > .useful-links ul li {
  margin-bottom: 25px;
}

footer > .useful-links .footer-column:last-child .button-type-3 {
  width: 200px;
  height: 50px;
  line-height: 50px;
  display: block;
}

footer > .useful-links .footer-column:last-child li:last-child i{
  padding-right: 25px;
}

footer > .lang-picker {
  border-bottom: 1px solid #cbd6e2;
  height: 70px;
  line-height: 70px;
  margin-bottom: 40px;
}

footer > .lang-picker ul li {
  padding-right: 30px;
}

footer > .credits .copyright {
  margin-top: 5px;
}

footer > .credits .privacy ul li {
  padding-right: 20px;
}
/* end Styling */
